<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Py-Timer</title>
</head>
<body>

<h1>Py-Timer</h1>

<form method="post">
    <input type="number" name="hours" placeholder="Hours" required>
    <input type="number" name="minutes" placeholder="Minutes" required>
    <input type="number" name="seconds" placeholder="Seconds" required>
    <button type="submit">Start</button>
</form>

{% if total %}
    <h2 id="timer"></h2>

    <script>
        let total = {{ total }};

        function tick() {
            let h = Math.floor(total / 3600);
            let m = Math.floor((total % 3600) / 60);
            let s = total % 60;


            let timeString =
                String(h).padStart(2, '0') + ":" +
                String(m).padStart(2, '0') + ":" +
                String(s).padStart(2, '0');

            document.getElementById("timer").textContent = timeString;

            if (total > 0) {
                total--;
                setTimeout(tick, 1000);
            } else {
                document.getElementById("timer").textContent = "TIME'S UP!";
            }
        }

        tick();
    </script>
{% endif %}

</body>
</html>
